<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :subtitle %><br />
    <%= f.text_field :subtitle %>
  </div>
  <div class="field">
    <%= f.label :expected_response %><br />
    <%= f.text_area :expected_response %>
  </div>
  <div class="field">
    <%= f.label :response %><br />
    <%= f.text_area :response %>
  </div>
  <div class="field">
    <%= f.label :response_match %><br />
    <%= f.check_box :response_match %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
