.span12
	%h2.page-title
		="Question: #{@question.title}"
.span12
	-if @question.errors.any?
		#error_explanation
		%h2= "#{pluralize(@question.errors.count, "error")} prohibited this question_set from being saved:"
		%ul
			- @question.errors.full_messages.each do |msg|
				%li= msg
.span9
	- if @question.answers.empty?
		.widget.interview-widget
			.widget-header
				.icon.icon.th.list
			.widget-content.answer
				No answers for this question yet.
	-else
		- @question.answers.each do |a|
			.widget.interview-widget
				.widget-header
					.icon.icon.th.list
					%h3
						= a.interview.name
				.widget-content.answer
					%a{:href => '#', :class => 'btn btn-mini btn-right toggle_full_answer'} Expand
					%p.short_answer
						= a.response.truncate 130
					%p.full_answer{:style => 'display:none'}
						=a.response
.span3
	= link_to 'Edit This Question', edit_question_path(@question), :class => 'btn btn-large btn-warning btn-support-ask'