.span12
	%h2.page-title
		="Question: #{@question.title}"
.span12
	-if @question.errors.any?
		#error_explanation
		%h2= "#{pluralize(@question.errors.count, "error")} prohibited this question_set from being saved:"
		%ul
			- @question.errors.full_messages.each do |msg|
				%li= msg
.span9
	.widget.widget-table.action-table.question-set-widget
		.widget-header
			.icon.icon.th.list
			%h3
				Answers
		.widget-content.answer-list
			%ul
				- if @question.answers.empty?
					%li No answers for this question, add some
				-else
					- @question.answers.each do |a|
						%li
							=a.response.truncate 100
							.hidden.expanded_answer
								=a.response
.span3
	= link_to 'Edit This Question', edit_question_path(@question), :class => 'btn btn-large btn-warning btn-support-ask'