.span12
	.widget
		.widget-header
			.icon.icon.th.list
			%h3 Edit #{resource_name.to_s.humanize}
		.widget-content
			= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
				= devise_error_messages!
				= f.label :name
				= f.text_field :name
				= f.label :email
				= f.email_field :email
				= f.label :password
				= f.password_field :password, :autocomplete => "off"
				.help-block (leave blank if you don't want to change it)
				= f.label :password_confirmation
				= f.password_field :password_confirmation
				= f.label :current_password
				= f.password_field :current_password
				.help-block (we need your current password to confirm your changes)
				.actions
					= f.submit "Update", :class => 'btn btn-primary'
.span12
	.widget
		.widget-header
			.icon.icon.th.list
			%h3  Unhappy?
		.widget-content
			=link_to "Cancel My Account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete, :class => 'btn btn-danger'
