.fields
  = f.label :title, 'Question'
  = f.text_field :title
  = f.label :subtitle, 'Sub-Question'
  = f.text_field :subtitle
  =f.hidden_field :order, :value => '1'
  .btn_primary
    = f.submit 'Save'
    = link_to_remove_questions 'Delete This Question', f