#status.status-hover
.span12
	%h1.page-title Conduct Interview: #{@interview.name}
.span12
	= form_for [@qs,@interview], :remote => :true, :html => { :id => 'interview_form'} do |f|
		-if @interview.errors.any?
			#error_explanation
				%h2= "#{pluralize(@interview.errors.count, "error")} prohibited this question from being saved:"
				%ul
				- @interview.errors.full_messages.each do |msg|
					%li= msg
		- question_count = 0
		- num_questions = @interview.answers.count
		-@interview.answers.each do |a|
			%a{:name => "question#{question_count+=1}"}
			.widget.interview-widget
				.widget-header
					%h3
						.question_title= a.question.title
						.question_subtitle= a.question.subtitle
				.widget-content.answer
					=render('answer_form', :f =>f, :answer => a, :interview => @interview)
					- if question_count != num_questions
						%a{:href => "\#question#{question_count+1}", :class => 'btn btn-warning btn-next-question'} NEXT QUESTION
		.actions
			= link_to 'Interview already saved....go to Dashboard', root_path, :class => 'btn btn-primary'