#status.status-hover
.span12
	.widget
		.widget-header
			%h1.page-title Conduct Interview
		.widget-content.answer
			%h3= pluralize @qs.questions.count, 'Questions'
.span12
	= form_for [@qs,@interview], :remote => :true, :html => { :id => 'interview_form'} do |f|
		-if @interview.errors.any?
			#error_explanation
				%h2= "#{pluralize(@interview.errors.count, "error")} prohibited this question from being saved:"
				%ul
				- @interview.errors.full_messages.each do |msg|
					%li= msg
		-@interview.answers.each do |a|
			.widget.interview-widget
				.widget-header
					%h3
						.question_title= a.question.title
						.question_subtitle= a.question.subtitle
				.widget-content.answer
					=render('answer_form', :f =>f, :answer => a, :interview => @interview)
		.actions
			= link_to 'Interview already saved....go to Dashboard', root_path, :class => 'btn btn-primary'