%p#notice= notice

%h2
  ="Name: #{@interview.name}"
  .btn= link_to 'Edit', edit_interview_path(@interview)

= form_for @interview do |f|

  .btn-primary
    = link_to_add_questions 'Add Question', f


  - if @interview.questions.empty?
    %p No questions for this Interview, add some
  - else
    %h2 Questions
    %ul
      - @interview.questions.each do |q|
        %li=q.title
