%h2
  ="Name: #{@interview.name}"
  .btn= link_to 'Edit', edit_interview_path(@interview)
-if @interview.errors.any?
  #error_explanation
    %h2= "#{pluralize(@interview.errors.count, "error")} prohibited this interview from being saved:"
    %ul
      - @interview.errors.full_messages.each do |msg|
        %li= msg

= form_for @interview do |f|
  = link_to_add_questions 'Add Question', f
  - if @interview.questions.empty?
    %p No questions for this Interview, add some
  - else
    %h2 Questions
    %ul
      - @interview.questions.each do |q|
        %li
          =q.title
          %a.btn.btn-mini.edit_button{:id => "#{q.title.underscore}_edit",:href => '#'} Edit
          %a.btn.btn-mini.destroy_button{:id => "#{q.title.underscore}_destroy",:href => '#'}
            %i.icon-remove
          %span.edit_fields.hidden{:id => "#{q.title.underscore}_edit_fields"}
            =f.fields_for(:questions,q) do |builder|
              =render('question_fields', :f => builder)
  .actions
    = f.submit 'Save'