!!! 5
- ie_html :lang => 'en', :class => 'no-js' do
  %head
    %title AskThem
    = stylesheet_link_tag :application
    = csrf_meta_tags
    %body
      .container
        %header
          %nav
            %ul
              = render 'devise/menu/registration_items'
              = render 'devise/menu/login_items'
          %h1 AskThem
          .subtitle
            Your tools for managing customer interviews
        .sidebar
          = link_to "Create New QuestionSet", new_interview_path
        .main{:role => "main"}
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
          = yield
        %footer
      = javascript_include_tag :application