-if @qs.errors.any?
	#error_explanation
		%h2= "#{pluralize(@qs.errors.count, "error")} prohibited this QuestionSet from being saved:"
		%ul
		- @qs.errors.full_messages.each do |msg|
			%li= msg

= form_for @qs, :html => {:class => 'form-inline'} do |f|
	-#= f.label :name
	= f.text_field :name
	= f.submit 'Save, and head on to the meat of it', :class => 'btn btn-primary'
	- if @qs.persisted?
		=link_to "Delete This QuestionSet", @qs, :confirm => "Are you sure? this will delete #{pluralize(@qs.questions.count, 'questions')} and their answers", :class => 'btn-right', :method => :delete
