-if @qs.errors.any?
	#error_explanation
		%h2= "#{pluralize(@qs.errors.count, "error")} prohibited this questionset from being saved:"
		%ul
		- @qs.errors.full_messages.each do |msg|
			%li= msg

= form_for @qs do |f|
	.field
		= f.label :name
		= f.text_field :name
	.actions
		= f.submit 'Save'
		- if @qs.persisted?
			=link_to "Destroy", @qs, :confirm => 'Are you sure?', :method => :delete
