-if @questionset.errors.any?
  #error_explanation
    %h2= "#{pluralize(@questionset.errors.count, "error")} prohibited this questionset from being saved:"
    %ul
      - @questionset.errors.full_messages.each do |msg|
        %li= msg

= form_for @questionset do |f|
  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
    =link_to "Destroy", @questionset, :confirm => 'Are you sure?', :method => :delete
