.fields
	= f.label :title, 'Question'
	= f.text_field :title
	= f.label :subtitle, 'Sub-Question'
	= f.text_field :subtitle
	= f.hidden_field :order, :value => '1'
	.action
		= f.submit 'Save', :class => 'btn btn-primary'
		- if question && question.persisted?
			= link_to_remove_questions 'Delete', f