%h1 Listing QuestionSets

%table
  %tr
    %th Name
    %th User
    %th
    %th
    %th

  - @questionsets.each do |qs
    %tr
      %td= qs.name
      %td= qs.user_id
      %td= link_to 'Show', qs
      %td= link_to 'Edit', edit_question_set_path(qs)
      %td= link_to 'Destroy', qs, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New QuestionSet', new_question_set_path
