.span12
	%h2.page-title
		="QuestionSet: #{@qs.name}"
.span12
	-if @qs.errors.any?
		#error_explanation
		%h2= "#{pluralize(@qs.errors.count, "error")} prohibited this question_set from being saved:"
		%ul
			- @qs.errors.full_messages.each do |msg|
				%li= msg
.span9
	.widget.question-set-widget.widget-nopad
		.widget-header
			.icon.icon.th.list
			%h3
				Questions
			= link_to 'Add Question','#', :class => 'btn btn-small', :id => 'add_question_button'
		.widget-content.question-list
			= form_for @qs do |f|
				:javascript
					var dynamic_question_form="#{build_dynamic_question_form f, nil }";
				%p#new_question_fields_container.edit_inset{:style => 'display:none'}
				#ul
					- if @qs.questions.empty?
						%li No questions for this QuestionSet, add some
					- else
						- @qs.questions.each do |q|
							%li
								= edit_link edit_question_path(q)
								=q.title
								=link_to 'All Answers', question_path(q), :class => 'btn btn-mini btn-right'
								%div.edit_fields.edit_insert{:id => "#{q.title.underscore}_edit_fields",:style => 'display:none'}
									=f.fields_for(:questions,q) do |builder|
										=render('question_fields', :f => builder, :question => q)
.span3
	= link_to 'Edit This QuestionSet', edit_question_set_path(@qs), :class => 'btn btn-large btn-warning btn-support-ask'