%h2
	="Name: #{@qs.name}"
	= link_to 'Edit', edit_question_set_path(@qs), :class => 'btn'
-if @qs.errors.any?
	#error_explanation
	%h2= "#{pluralize(@qs.errors.count, "error")} prohibited this question_set from being saved:"
	%ul
		- @qs.errors.full_messages.each do |msg|
			%li= msg
%h2
	Questions
	= link_to 'Add Question','#', :class => 'btn btn-small', :id => 'add_question_button'
= form_for @qs do |f|
	.hidden
		:javascript
			var dynamic_question_form="#{build_dynamic_question_form f}";
	#new_question_fields_container
	- if @qs.questions.empty?
		%p No questions for this QuestionSet, add some
	%ul
		- @qs.questions.each do |q|
			%li
				=q.title
				%a.btn.btn-mini.edit_button{:id => "#{q.title.underscore}_edit",:href => '#'} Edit
				%span.edit_fields.hidden{:id => "#{q.title.underscore}_edit_fields"}
					=f.fields_for(:questions,q) do |builder|
						=render('question_fields', :f => builder)
	.actions
		= f.submit 'Save'