.span12
	%h1.page-title
		About
.span12
	.widget
		.widget-header
			.icon.icon.th.list
			%h3
		.widget-content
			%p
				Repartee is an application that I built to scratch my own itch. I wanted a simple system to record feedback when
				I'm conducting customer development interviews and that's what I've built.
			%p
				I was able to build Repartee in just a few weeks by relying on the great work of the following projects, and I extend
				my most profound thanks to the developers who made them possible
			%ul
				%li= link_to 'Apple', 'http://www.apple.com'
				%li= link_to 'Linux', 'http://www.linux.com'
				%li= link_to 'Ruby', 'http://www.ruby-lang.org'
				%li= link_to 'Ruby on Rails', 'http://rubyonrails.org'
				%li= link_to 'Rails Application Templates', 'https://github.com/RailsApps/rails3-application-templates'
				%li= link_to 'Twitter Bootstrap', 'http://twitter.github.com/bootstrap/'
				%li= link_to 'jQuery', 'http://www.jquery.com'
				%li= link_to 'Base-Admin Bootstrap Theme', 'https://wrapbootstrap.com/theme/base-admin-WB00U99JJ'
				%li= link_to 'HAML', 'http://www.haml.info'
				%li= link_to 'SASS', 'http://www.sass-lang.org'
				%li= link_to 'MySQL', 'http://www.mysql.org'
				%li= link_to 'Heroku', 'http://www.heroku.com'
				%li= link_to 'Devise', 'https://github.com/plataformatec/devise'
				%li= link_to 'CanCan', 'https://github.com/ryanb/cancan'
				%li= link_to 'Cucumber', 'http://cukes.info'
				%li= link_to 'Rspec', 'http://rspec.info'
				%li= link_to 'FactoryGirl', 'https://github.com/thoughtbot/factory_girl'
