.row
	.col-md-12
		%h1.page-title
			Interview Scripts
.row
	.col-md-9
		- if @user.scripts.empty?
			.widget
				.widget-header
					%i.icon.icon-th.list
					%h3.no_scripts
						A Script is a group of questions that you'll use to conduct and interview
				.widget-content
					Click that big honker over there to get started
					%i.point_at_button.icon-circle-arrow-right
		-else
			- @user.scripts.each do |qs|
				.widget.widget-table.action-table.question-set-list
					.widget-header
						%i.icon.icon-th.list
						%h3= qs.name
					.widget-content
						%ul
							%li.interview_action
								= edit_link script_path(qs)
								= pluralize qs.questions.count, 'Question'
								= link_to 'Conduct Interview', conduct_interview_path(qs), :class => 'btn btn-xs btn-primary btn-right'
								= link_to 'All Interviews', script_interviews_path(qs), :class => 'btn btn-xs btn-right' if qs.interviews.any?
							-if  qs.interviews.any?
								%li.latest_interview
									Latest Interview:
									= link_to qs.interviews.last.name,[qs,qs.interviews.last]
							- else
								%li.no_interviews No Interviews

	.col-md-3
		= link_to 'Create New Script', new_script_path, :class => 'btn btn-lg btn-warning btn-support-ask'