!!!
%html
	%head
		%meta{:charset => "utf-8"}
		%meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
		%title= content_for?(:title) ? yield(:title) : "Repartee"
		%meta{:content => "", :name => "description"}
		%meta{:content => "", :name => "author"}
		= stylesheet_link_tag "application", :media => "all"
		= csrf_meta_tags
		= yield(:head)
	%body
		= render 'layouts/navigation'
		= render 'layouts/subnavigation'
		.main{:role => "main"}
			.main-inner
				.container
					.row
						.span12
							= render 'layouts/messages'
					.row
						= yield
		%footer.footer
			.footer-inner
				.container
					.row
						.span12
							&copy; #{Time.now.year} &mdash;
							= link_to 'John K Sawers', 'http://johnksawers.com'
							&mdash;
							= link_to '@johnksawers', 'https://www.twitter.com/johnksawers'
		= javascript_include_tag "application"